$white: #FFFFFF;

$black-01: rgba(81, 99, 120, .1);
$black-02: rgba(81, 99, 120, .2);

$border-color-gray: #E4E6EB;

$text-color-light: #A5A5A5;
$text-color-primary: #4D5256;

$arrow-gray: #F3F4F6;

$bg-gray: #FAFAFA;
