@import '../../styles/colors.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;

  .logo {
    font-weight: 700;
    font-size: 1.5rem;
  }

  a {
    color: $text-color-light;
    text-decoration: none;
  }
}
